:root {
  /*=======COLORS===========*/
  --bg: #16151a;
  --fg: #19181d;
  --e: #1c1b21;
  --tx: #85868b;
  --txb: #ffffff;
  --t: #e06c75;
  --search: #1e1d23;
}

@media screen and (max-width: 1530px) {
  .controlls {
    grid-template-columns: minmax(350px, 100%);
    grid-template-rows: 70% 30%;
  }

  #player {
    grid-template-columns:
      minmax(260px, 20%) minmax(350px, 60%) minmax(150px, 20%);
  }

  .progress-controlls {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    align-items: center;
    height: 100%;
  }

  .back {
    justify-self: end;
  }

  .for {
    justify-self: start-flex;
  }

  .less,
  .more {
    display: none;
  }

  .sound-controlls {
    grid-template-columns: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .userimg {
    margin-left: 29px;
  }


  #sidenav_bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 12px;
  }

  #sidenav_tabs {
    position: absolute;
    width: 100%;
    top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start-flex;
  }

  .tab-link {
    grid-template-columns: 100%;
    place-items: center;
  }

  .tab_text {
    display: none;
  }

  .tab {
    justify-content: center;
    display: flex;
    width: 60px;
  }

  #sidenav_bottom>span {
    display: none;
  }

  .sidebar {
    position: fixed;
    background-color: var(--fg);
    width: 80px;
    height: calc(100% - 44px);
    margin: 22px;
    border-radius: 12px;
  }

  .tab_icon {
    margin-left: 0;
  }

  .tab_icon {
    width: 100%;
  }

  .settings {
    position: absolute;
    bottom: 18px;
    left: 11px;
  }

  .minibar {
    margin-left: 20px;
  }

  .minimizeSidebar {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .minimized .minimizeSidebar {
    scale: -1 1;
    left: 65px;
  }

  .minimized .userimg {
    margin-left: 29px;
  }


  .minimized #sidenav_bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 12px;
  }

  .minimized #sidenav_tabs {
    position: absolute;
    width: 100%;
    top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .minimized .tab-link {
    grid-template-columns: 100%;
    place-items: center;
  }

  .minimized .tab-icon-div {
    padding-left: 37px;
  }

  .minimized .tab {
    justify-content: center;
    display: flex;
    width: 60px;
  }

  .minimized .tab_text {
    display: none;
  }

  .minimized #sidenav_bottom>span {
    display: none;
  }

  .minimized .tab_icon {
    width: 100%;
  }

  .minimized .tab_icon {
    margin-left: 0;
  }

  .contentMinimized {
    left: 152px !important;
    width: calc(100% - 250px) !important;
  }

  .minimized {
    position: fixed;
    background-color: var(--fg);
    width: 80px;
    height: calc(100% - 44px);
    margin: 22px;
    border-radius: 12px;
  }

  .minimized .settings {
    position: absolute;
    bottom: 18px;
    left: 11px;
  }

  .minimized .minibar {
    margin-left: 20px;
  }

  .minimized+#main-page {
    width: calc(100% - 166px) !important;
    left: 144px !important;
  }
}