.nav{
  display: flex;
  flex-direction: column;
  color: #ABABAB;
  text-decoration: none;
  gap: 14px;
  font-size: 14px;
  position: fixed;
  top: 39px;
  width: 242px;
  height: 48px;
  left: 14px;
  padding: 16px;
  padding-inline: 28px;
  border: 1px solid #535353;
  
  .title{
    position: absolute;
    top: -10px;
    left: 4px;
    background-color: #121212;
    padding-inline: 3px;
    color: #535353;
    user-select: none;
  }

  .link{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    transition: all .2s;
    color: #ABABAB;
    user-select: none;
  }

  .svg-default {
    height: 16px;
    display: block;
  }

  .svg-active {
    height: 16px;
    display: none;
  }

  .router-link-active .svg-default {
    display: none;
  }

  .router-link-active .svg-active {
    display: block;
  }

  .link svg{
    fill: currentColor;
  }

  .link:hover, .link.router-link-active{
    color: white;
    transition: all .2s;
  }

}

.nav:hover {
  border: 1px solid #A058FF;
}

.nav:hover .title{
  color: #A058FF;
}