@font-face {
  font-family: Inter;
  src: url("../fonts/Inter.woff2") format("woff2");
  font-display: swap;
}

:root {
  /*=======COLORS===========*/
  --bg: #16151a;
  --sidebar: #19181d;
  --e: #1c1b21;
  --dtx: #85868b;
  --tx: #ffffff;
  --t: #e06c75;
  --search: #1e1d23;
  --border: #26252b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.searchResults {
  overflow: hidden;
  background-color: var(--search);
  border-radius: 16px;
  margin-bottom: 10px;
  padding: 8px;
}

.searchResult {
  height: 44px;
  display: grid;
  grid-template-columns: 70px calc(100% - 70px);
  grid-template-rows: 50% 50%;
}

.searchResultCover {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 44px;
  border-radius: 10px;
}

.searchResultName {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: end;
  font-size: 15px;
}

.searchResultArtist {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: var(--dtx);
  font-size: 12px;
}

.searchResultLenght {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: center;
  color: var(--dtx);
  margin-right: 30%;
  font-size: 12px;
}


.bigResult {
  display: flex;
  height: 188px;
  padding: 16px;
  width: 424px;
}

.bigResult .searchResult {
  display: grid;
  grid-template-columns: 176px calc(100% - 176px);
  grid-template-rows: 40px 20px calc(100% - 60px);
  height: 100%;
  width: 100%;
}

.bigResult .searchResultLenght {
  margin-right: 0;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;
  justify-self: end;
  margin-inline: 5px;
}

.bigResult .searchResultName {
  font-size: 25px;
  font-weight: bold;
}

.bigResult .searchResult .searchResultCover {
  height: 156px;
  width: 156px;
}