@font-face {
  font-family: Inter;
  src: url("../fonts/Inter.woff2") format("woff2");
  font-display: swap;
}

:root {
  /*=======COLORS===========*/
  --bg: #16151a;
  --sidebar: #19181d;
  --e: #1c1b21;
  --dtx: #85868b;
  --tx: #ffffff;
  --t: #e06c75;
  --search: #1e1d23;
  --border: #26252b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.searchResults {
  overflow: hidden;
  background-color: var(--search);
  border-radius: 16px;
  margin-bottom: 10px;
  padding: 8px;
}

.searchResult {
  height: 44px;
  display: grid;
  grid-template-columns: 55px calc(100% - 55px);
  grid-template-rows: 50% 50%;
}

.searchResultCover {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 44px;
  border-radius: 8px;
}

.searchResultPlay {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: end;
  display: flex;
  place-items: center;
  margin-right: 5px;
}

.searchResultName {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: end;
  font-size: 15px;
}

.searchResultArtist {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: var(--dtx);
  font-size: 12px;
}

.searchResultLenght {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
  color: var(--dtx);
  margin-right: 30%;
  font-size: 12px;
}


.bigResult {
  display: flex;
  height: 188px;
  min-height: 188px;
  padding: 16px;
  width: 424px;
  min-width: 424px;
  max-width: 100%;
}

.noresize.bigResult {
  height: 188px !important;
  width: 424px !important;
}


.flip.searchResults {
  scale: 1 -1;
}

.bigResult .searchResult {
  display: grid;
  grid-template-columns: 176px calc(100% - 176px);
  grid-template-rows: 40px 20px calc(100% - 60px);
  height: 100%;
  width: 100%;
  overflow: visible;
}

.bigResult .searchResultLenght {
  display: none;
}

.bigResult .searchResultLenght {
  margin-right: 0;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;
  justify-self: end;
  margin-inline: 5px;
}

.bigResult .searchResultName {
  font-size: 25px;
  font-weight: bold;
}

.bigResult .searchResult .searchResultCover {
  height: 156px;
  width: 156px;
}

.gradient.bigResult {
  --gradientColor1: #404050;
  --gradientColor2: #413350;
  background: unset;
  background-image: linear-gradient(180deg, var(--gradientColor1) 0%, var(--gradientColor2) 100%) !important;
}

.float.searchResults {
  animation: float 6s ease-in-out infinite;
}

.white.searchResults {
  background-color: #f1f1f1;
}

.white .searchResultName {
  color: #16151a;
}

.white .searchResultPlay {
  background-color: #16151a;
  border-radius: 100%;
  justify-self: end;
  align-self: center;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.gradient.bigResult .searchResultIcon {
  background-color: transparent;
}


.resize.bigResult {
  resize: both;
}

.bigResult .searchResultPlay {
  border: 1px solid rgba(64, 62, 68, 0.24);
  background: #1e1d23;
  grid-row: 3 / 4;
  width: 45px;
  height: 45px;
  justify-content: center;
  border-radius: 100%;
  align-self: end;
}

.bigResult .searchResultPlay>img {
  width: 25px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
    z-index: 10;
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.reveals{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

#top {
  position: absolute;
  top: -200px;
}

.searchResultList {
  margin-top: 30px;
}

.gotoTop {
  transition: .5s;
  position: fixed;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50% 50%;
  bottom: 10px;
  right: 20px;
  background-image: url(/svg/bold/arrow-up.svg);
  border-radius: 10px;
  z-index: 3;
}

.gotoTop:hover {
  background-color: var(--search);
}