.page {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.userName {
  background-color: var(--element);
  border: none;
  padding: 15px;
  border-radius: 20px;
  font-size: 18px;
  outline: none;
  color: var(--tx);
  resize: none;
  height: 50px;
  width: 250px;
  line-height: 23px;
  font-family: Inter;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 14px;
}

.save {
  margin-top: 18px;
  background-color: var(--accent);
  border: none;
  outline: none;
  padding: 14px;
  padding-inline: 54px;
  font-family: Inter;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  width: 150px;
  height: 50px;
}

.save:hover {
  background-color: var(--accenth);
}

.avatar {
  margin-top: 12px;
  padding: 13px;
  padding-inline: 20px;
  width: 128px;
  height: 50px;
  display: flex;
  border: none;
  outline: none;
  font-family: Inter;
  color: white;
  border-radius: 20px;
  font-size: 18px;
  background-color: var(--element);
  justify-content: center;
  place-items: center;
  cursor: pointer;
}

.avatar:hover {
  background-color: var(--elementh);
}

.avatarSvg {
  margin-right: 8px;
}