.sidebar {
  position: fixed;
  z-index: 2;
  position: absolute;
  background-color: var(--fg);
  width: 300px;
  height: calc(100% - 44px);
  margin: 22px;
  border-radius: 12px;
  transition: .2s;
  overflow: visible;
}

.minimizeSidebar {
  position: absolute;
  top: 37px;
  right: 0px;
  transform: translate(-50%, -50%);
  transition: .2s;
  border-radius: 100px;
  cursor: pointer;
  background-image: var(--arrow);
  height: 40px;
  width: 40px;
  background-size: 28px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 2;
}

.minimizeSidebar:hover {
  background-color: var(--search);
}

.minibar {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  margin-left: 28px;
}

.settings {
  border: 1px solid rgba(64, 62, 68, 0.24);
  background: #1e1d23;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-left: 8px;
  display: grid;
  place-items: center;
}

.settings:hover {
  background: #25232b;
}

.user-img {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  cursor: pointer;
  transition: .3s;
}

#sidenav_tabs {
  position: absolute;
  width: 100%;
  top: 130px;
}

.tab {
  height: 60px;
  padding-inline: 0px;
  margin-inline: 10px;
  cursor: pointer;
}

.tab:not(:last-child) {
  margin-bottom: 8px;
}

.tab:hover {
  background-color: var(--search);
  margin-inline: 10px;
  border-radius: 18px;
}

.tab-link {
  place-items: center;
  height: 100%;
  display: flex;
  width: 100%;
}

.tab_text {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-left: 21px;
}

.tab_icon {
  margin-left: 18px;
  background-image: var(--img);
  background-size: 28px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}

.tab_text {
  color: var(--dtx);
}

.tab:has(.router-link-active.router-link-exact-active.tab-link) {
  background-color: #1e1d23;
  border-radius: 18px;
}

.router-link-active.router-link-exact-active.tab-link>.tab_text {
  color: white;
}

.router-link-active.router-link-exact-active.tab-link>.home_icon {
  --img: url('/svg/bold/home-2.svg') !important;
}

.router-link-active.router-link-exact-active.tab-link>.songs_icon {
  --img: url('/svg/bold/music.svg') !important;
}

.router-link-active.router-link-exact-active.tab-link>.playlists_icon {
  --img: url('/svg/bold/note.svg') !important;
}

.router-link-active.router-link-exact-active.tab-link>.library_icon {
  --img: url('/svg/bold/video-square.svg') !important;
}