.sidebar {
  position: fixed;
  z-index: 4;
  position: absolute;
  background-color: var(--sidebar);
  width: 300px;
  height: calc(100% - 32px);
  margin: 16px;
  border-radius: 14px;
  overflow: visible;
}

.animation {
  transition: 0.2s;
}

.minimizeSidebar {
  position: absolute;
  top: 37px;
  right: 0px;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  cursor: pointer;
  background-image: var(--arrow);
  height: 40px;
  width: 40px;
  background-size: 28px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 2;
}

.minimizeSidebar:hover {
  background-color: var(--search);
}

.minibar {
  display: flex;
  flex-direction: row;
  margin: 16px;
  justify-content: space-between;
}

.settings:hover {
  background: #25232b;
}

#sidenav_tabs {
  position: absolute;
  width: 100%;
  top: 130px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tab {
  height: 52px;
  padding-inline: 0px;
  margin-inline: 16px;
  cursor: pointer;
}

.tab:hover {
  background-color: var(--selected);
  border-radius: 14px;
}

.tab-link {
  place-items: center;
  height: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  overflow: hidden;
  padding-inline: 14px;
}

.tab_text {
  display: flex;
  font-size: 16px;
  color: var(--unselected);
}

.tab_icon {
  background-image: var(--img);
  background-size: 28px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.tab:has(.router-link-active.router-link-exact-active.tab-link) {
  background-color: var(--selected);
  border-radius: 14px;
}

.router-link-active.router-link-exact-active.tab-link>.tab_text {
  color: white;
}

.router-link-active.router-link-exact-active.tab-link>.home_icon {
  --img: url('/svg/bold/home-full.svg') !important;
}

.router-link-active.router-link-exact-active.tab-link>.library_icon {
  --img: url('/svg/bold/library-full.svg') !important;
}

.router-link-active.router-link-exact-active.tab-link>.search_icon {
  --img: url('/svg/bold/search-full.svg') !important;
}

#avatar-img {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  cursor: pointer;
  transition: .3s;
  position: fixed;
}