@font-face {
  font-family: Inter;
  src: url("../fonts/Inter.woff2") format("woff2");
  font-display: swap;
}

:root {
  /*=======COLORS===========*/
  --bg: #16151a;
  --sidebar: #19181d;
  --e: #1c1b21;
  --dtx: #85868b;
  --tx: #ffffff;
  --t: #e06c75;
  --search: #1e1d23;
  --border: #26252b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  height: 100vh;
  width: 99.8vw;
  color: var(--tx);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  user-select: none;
  background-color: var(--bg);
}

.page-title {
  color: var(--tx);
  font-size: 46px;
  z-index: 5;
  position: relative;
}