.titlebar {
  height: 40px;
  background: transparent;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  fill: white;
  width: 28px;
  height: 26px;
  border-radius: 3px;
}

.titlebar-button:last-child {
  margin-right: 6px;
}

.titlebar-button:hover {
  background: #303030;
}

#titlebar-close:hover {
  background-color: var(--t);
}