.titlebar {
  height: 40px;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 24px 24px 0px 0px;
  background-color: var(--bg);
  z-index: 3;
}

.titlebar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  margin-top: 5px;
  margin-inline: 3px;
  padding: 0;
}

.titlebar-button:last-child {
  margin-right: 6px;
}

.titlebar-button:hover {
  background: #303030;
}

#titlebar-close:hover {
  background-color: #e06c75;
}

.fadeOut {
  position: fixed;
  top: 40px;
  left: 0;
  right: 20px;
  height: 70px;
  z-index: 2;
  background: linear-gradient(180deg, var(--bg) 0%, var(--bg) 60%, #00000000 100%);
}