[package]
name = "vleer"
description = "Music, but without the subscription."
version = "0.1.0"
edition = "2024"
authors = ["PandaDEV <hello@pandadev.net>"]
homepage = "https://vleer.app"
repository = "https://github.com/vleerapp/vleer"
license = "AGPL-3.0"
categories = ["multimedia::audio"]

[dependencies]
gpui = { git = "https://github.com/zed-industries/zed" }
gpui_macros = { git = "https://github.com/zed-industries/zed" }
anyhow = "1.0.100"
dirs = "6.0.0"
tracing = "0.1.44"
tracing-subscriber = "0.3.22"
tokio = { version = "1.48.0", features = ["full"] }
futures = "0.3.31"
sqlx = { version = "0.8.6", features = ["runtime-tokio", "sqlite", "chrono"] }
serde = { version = "1.0.228", features = ["derive"] }
toml = "0.9.8"
rodio = { version = "0.21.1", features = ["symphonia-all"] }
cuid2 = "0.1.4"
url = "2.5.7"
rust-embed = "8.9.0"
lofty = "0.22.4"
walkdir = "2.5.0"
notify = "8.2.0"
notify-debouncer-full = "0.6.0"
image = "0.25.9"
sha2 = "0.10.9"
indexmap = "2.12.1"
rustc-hash = "2.1.1"
unicode-segmentation = "1.12.0"
reqwest = { version = "0.12.26", features = ["json"] }
uuid = { version = "1.19.0", features = ["serde", "v4"] }
souvlaki = "0.8.3"
raw-window-handle = "0.6.2"
spectrum-analyzer = "1.5"

[target.'cfg(target_os = "linux")'.dependencies]
mpris-server = "0.9.0"

[target.'cfg(any(target_os = "windows", target_os = "macos"))'.dependencies]
global-hotkey = "0.7.0"

[package.metadata.packager]
product_name = "Vleer"
description = "Music, but without the subscription."
authors = ["PandaDEV <hello@pandadev.net>"]
homepage = "https://vleer.app"
category = "Music"
identifier = "app.vleerapp.vleer"
before_packaging_command = "cargo build --release"
icons = ["assets/images/icon.png", "assets/images/icon.icns"]
out_dir = "target/release/bundles"
formats = ["all"]
