@use '~/assets/styles/variables' as v;

.library {
  display: flex;
  flex-direction: column;
  color: v.$text;
  text-decoration: none;
  gap: 14px;
  font-size: 14px;
  width: v.$sidebar-width;
  height: 100%;
  padding: 16px;
  position: relative;

  .link{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    transition: all .2s;
    color: v.$text;
    user-select: none;
    padding-left: 12px;
  }

  .link svg{
    fill: currentColor;
  }

  .link:hover, .link.router-link-active{
    color: v.$text-bright;
    transition: all .2s;
  }

  .search-container {
    width: 268px;
    height: 32px;
    background-color: v.$element;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-inline: 6px;
    gap: 6px;
    
    .input{
      background-color: transparent;
      border: none;
      font-size: 14px;
      outline: none;
      color: #8b8b8b;
      width: 235px;
      height: 32px;
    }
  }
}

.items{
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: v.$text-bright;

  .song{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .cover{
    width: 32px;
  }
}