@use "~/assets/styles/variables" as v;

.library {
  padding: 16px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  color: v.$text;
  text-decoration: none;
  gap: 14px;
  font-size: 14px;
  width: v.$sidebar-width;
  height: 100%;
  padding: 16px;
  position: relative;

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 18px;
    padding-inline: 12px;
  }

  .create-playlist {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    color: v.$text;
  }

  .create-playlist:hover {
    color: v.$text-bright;
  }

  .link {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    transition: all 0.2s;
    color: v.$text;
    user-select: none;
  }

  .link svg {
    fill: currentColor;
  }

  .link:hover,
  .link.router-link-active {
    color: v.$text-bright;
    transition: all 0.2s;
  }

  .search-container {
    width: 100%;
    height: 32px;
    background-color: v.$element;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-inline: 6px;
    gap: 6px;

    .input {
      background-color: transparent;
      border: none;
      font-size: 14px;
      outline: none;
      color: #8b8b8b;
      width: 100%;
      height: 32px;
    }
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: v.$text-bright;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;

  .song {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    width: 100%;

    .title {
      display: flex;
      width: 100%;
    }
  }

  .cover {
    width: 32px;
    height: 32px;
  }
}