@use "~/assets/styles/variables" as v;

.navbar {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 14px;
  font-size: 14px;
  padding: 16px;
  justify-content: space-between;

  .links {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s;
    color: v.$text;
    user-select: none;
    text-decoration: none;
  }

  .svg-default {
    height: 16px;
    display: block;
  }

  .svg-active {
    height: 16px;
    display: none;
  }

  .router-link-active .svg-default {
    display: none;
  }

  .router-link-active .svg-active {
    display: block;
  }

  .link svg {
    fill: currentColor;
  }

  .link:hover,
  .link.router-link-active {
    color: v.$text-bright;
    transition: all 0.2s;
  }
}

.search-container {
  width: 268px;
  height: 32px;
  background-color: v.$element;
  outline: none;
  border: none;
  display: grid;
  grid-template-columns: 16px 1fr;
  padding-inline: 8px;
  gap: 9px;
  align-items: center;
  color: v.$text;
  margin-left: -8px;

  .icon {
    width: 16px;
    height: 16px;
  }

  .input {
    background-color: transparent;
    border: none;
    font-size: 14px;
    outline: none;
    color: #8b8b8b;
    height: 32px;
  }
}