@use '~/assets/styles/variables' as v;

.player {
  height: v.$playersize;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 36px;

  .info {
    display: flex;
    font-size: 14px;
    gap: 14px;

    .artist {
      color: v.$text;
    }

    .cover {
      width: 36px;
      height: 36px;
    }
  }

  .controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .controls,
  .right-controls {
    color: #303030;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .controls:hover .icon {
    color: #b3b3b3;
  }

  .icon:hover{
    color: v.$text-bright !important;
  }

  .active {
    color: v.$text !important;
  }

  .right-controls {
    .volume {
      background: repeating-linear-gradient(135deg,
          #303030,
          #303030 10px,
          #505050 10px,
          #505050 20px);
    }

    .volume-text {
      width: 40px;
      text-align: end;
    }
  }

  .right-controls:hover{
    color: v.$text;
  }
}

.bottom {
  display: flex;
  width: 100%;
  height: 16px;
  position: relative;

  .progress {
    background-color: transparent;
    position: absolute;
    width: 100%;
    appearance: none;
    height: 16px;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 0;
    z-index: 3;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: transparent;
    }

    &::-moz-range-thumb {
      appearance: none;
      background: transparent;
    }

    &::-ms-thumb {
      appearance: none;
      background: transparent;
    }
  }

  .progress-indicator {
    background-color: v.$accent;
    position: absolute;
    z-index: 1;
    height: 16px;
  }

  .progress:hover {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 12px;
      height: 16px;
      background: v.$text-bright;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      appearance: none;
      width: 12px;
      height: 16px;
      background: v.$text-bright;
      cursor: pointer;
    }

    &::-ms-thumb {
      appearance: none;
      width: 12px;
      height: 16px;
      background: v.$text-bright;
      cursor: pointer;
    }
  }

  .numbers {
    position: absolute;
    font-size: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: v.$accent;
    mix-blend-mode: difference;
    z-index: 4;
    pointer-events: none;
  }
}

.bottom:hover .indicator {
  background-color: white;
}