@use "~/assets/styles/variables" as v;

.titlebar {
  width: 100%;
  position: fixed;
  top: 2px;
  height: v.$titlebar-height;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  user-select: none;

  .titlebar-text {
    color: v.$text-muted;
    font-size: 12px;
    align-self: center;
    padding-inline: v.$spacing;
  }

  .window-controls {
    display: flex;
    position: relative;
    top: -2px;

    .button {
      background: none;
      border: none;
      outline: none;
      width: 42px;
      height: 100%;
      display: grid;
      place-items: center;

      img {
        width: 10px;
        height: 10px;
      }

      &:hover {
        background-color: v.$titlebar-button-hover;

        img {
          filter: brightness(200%);
        }
      }

      &:last-child:hover {
        background-color: v.$titlebar-button-hover-red;
      }
    }
  }
}
