@use "~/assets/styles/variables" as v;

.titlebar {
  width: 100%;
  position: fixed;
  height: 33px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;

  .drag-region {
    height: 100%;
    width: 100%;
  }

  .window-controls {
    display: flex;
    position: relative;

    .button {
      z-index: 1001;
      background: none;
      border: none;
      outline: none;
      width: 42px;
      height: 33px;
      display: grid;
      place-items: center;

      img {
        width: 10px;
        height: 10px;
      }

      &:hover {
        background-color: v.$titlebar-button-hover;

        img {
          filter: brightness(200%);
        }
      }

      &:last-child:hover {
        background-color: v.$titlebar-button-hover-red;
      }
    }
  }
}