$spacing: 16px;

$playersize: 100px;
$sidebar-width: 300px;
$titlebar-height: 28px;

$accent: #A058FF;

$text-muted: #535353;
$text: #ABABAB;
$text-bright: #ffffff;

$background: #121212;
$foreground: #535353;

$titlebar-button-hover: #ffffff24;
$titlebar-button-hover-red: #f23f42;