$spacing: 16px;
$transition-time: .1s;

$playersize: 100px;
$sidebar-width: 270px;
$titlebar-height: 33px;

$accent: #A058FF;
$accent_hover: #7541BB;

$text-muted: #535353;
$text: #ABABAB;
$text-bright: #ffffff;

$background: #121212;
$foreground: #535353;
$element: #1A1A1A;

$titlebar-button-hover: #ffffff24;
$titlebar-button-hover-red: #f23f42;
