@use 'variables' as v;

.library {
  display: flex;
  flex-direction: column;
  color: #ABABAB;
  text-decoration: none;
  gap: 14px;
  font-size: 14px;
  width: v.$sidebarwidth;
  height: 100%;
  padding: 16px;
  border: 1px solid #535353;

  .title{
    position: absolute;
    top: -10px;
    left: 4px;
    background-color: #121212;
    padding-inline: 3px;
    color: #535353;
    user-select: none;
  }

  .link{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    transition: all .2s;
    color: #ABABAB;
    user-select: none;
    padding-left: 12px;
  }

  .link svg{
    fill: currentColor;
  }

  .link:hover, .link.router-link-active{
    color: white;
    transition: all .2s;
  }

  .search{
    width: 268px;
    height: 32px;
    background-color: #222222;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-inline: 6px;
    gap: 6px;
    
    .input{
      background-color: transparent;
      border: none;
      font-size: 14px;
      outline: none;
      color: #8b8b8b;
      width: 235px;
      height: 32px;
    }
  }
}

.library:hover {
  border: 1px solid #A058FF;
}

.library:hover .title{
  color: #A058FF;
}