@use 'variables' as v;

.nav {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 14px;
  font-size: 14px;
  width: v.$sidebarwidth;

  .link {
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all .2s;
    color: #ABABAB;
    user-select: none;
    text-decoration: none;
  }

  .svg-default {
    height: 16px;
    display: block;
  }

  .svg-active {
    height: 16px;
    display: none;
  }

  .router-link-active .svg-default {
    display: none;
  }

  .router-link-active .svg-active {
    display: block;
  }

  .link svg {
    fill: currentColor;
  }

  .link:hover, .link.router-link-active {
    color: white;
    transition: all .2s;
  }
}