@use 'variables' as v;

.search {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: v.$spacing;

  input {
    width: 200px;
  }
}

.cover-image {
  width: 100px; 
  height: auto;
}

.first-result .cover-image {
  width: 200px;
}

.first-result {
  font-size: 1.2em; 
}

li {
  list-style-type: none; 
  margin-bottom: 10px;
}

a {
  text-decoration: none; 
  color: inherit; 
}