@use "~/assets/styles/variables" as v;

.element {
  padding: 0 !important;
}

.index {
  padding: 24px;
  padding-top: 48px;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.ascii {
  padding-bottom: 48px;
  color: v.$accent;
}

.playlists,
.recently-played {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.playlists .cards {
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 64px);

  .playlist {
    background-color: v.$element;
    height: 64px;
    display: flex;
    gap: 14px;
    align-items: center;
    position: relative;

    .play {
      opacity: 0;
      position: absolute;
      display: grid;
      width: 36px;
      height: 36px;
      background-color: v.$accent;
      border: none;
      outline: none;
      right: 14px;
      place-items: center;
      transition: opacity .3s;
    }

    .play:hover{
      background-color: v.$accent_hover;
    }
  }
  
  .playlist:hover .play{
    opacity: 1;
  }
}


.recently-played {
  margin-top: 32px;

  .cards {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .song {
      display: flex;
      flex-direction: column;
      gap: 8px;
      cursor: pointer;
      width: 100%;

      .info {
        width: 100%;

        p {
          width: 140px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }

        .artist {
          color: v.$text;
        }
      }

      .cover {
        width: 100%;
        aspect-ratio: 1 / 1;
      }
    }
  }
}