@use "~/assets/styles/variables" as v;

.element {
  padding: 0 !important;
}

.index {
  padding: 24px;
  padding-top: 48px;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.ascii {
  padding-bottom: 48px;
  color: v.$accent;
}

.playlists,
.recently-played {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.playlists .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

  .playlist {
    background-color: v.$element;
    height: 64px;
    display: flex;
    gap: 14px;
    align-items: center;
    position: relative;

    .cover {
      width: 64px;
      height: 64px;
      object-fit: cover;
    }

    .name {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .play {
      opacity: 0;
      position: absolute;
      display: grid;
      width: 36px;
      height: 36px;
      background-color: v.$accent;
      border: none;
      outline: none;
      right: 14px;
      place-items: center;
      transition: opacity .3s;
    }

    .play:hover {
      background-color: v.$accent_hover;
    }
  }
  
  .playlist:hover .play {
    opacity: 1;
  }
}

.recently-played {
  margin-top: 32px;

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 16px;
    padding-bottom: 10px;

    .song {
      display: flex;
      flex-direction: column;
      gap: 8px;
      cursor: pointer;

      .info {
        width: 100%;

        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .artist {
          color: v.$text;
        }
      }

      .cover {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }
  }
}