@use "~/assets/styles/variables" as v;

.element {
  padding: 0 !important;
}

.playlist {
  padding: 24px;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.playlist-top {
  display: flex;
  flex-direction: column;
  gap: 14px;

  .cover {
    width: 128px;
  }

  .name {
    background-color: transparent;
    color: v.$text-bright;
    outline: none;
    border: none;
    width: 100%;
    font-size: 14px;
  }

  .info {
    color: v.$text;
  }

  .controls {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;

    button {
      width: 36px;
      height: 36px;
    }
  }
}

.search-container {
  width: 268px;
  height: 32px;
  background-color: v.$element;
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-inline: 6px;
  gap: 6px;
  margin-top: 8px;

  .input {
    background-color: transparent;
    border: none;
    font-size: 14px;
    outline: none;
    color: #8b8b8b;
    width: 100%;
    height: 32px;
  }
}

.songs-info {
  color: v.$text;
  padding-left: 15px;
  border-bottom: 1px solid v.$element;
  display: flex;
  padding-bottom: 8px;

  .cover {
    padding-right: 20px;
  }

  .title {
    flex-grow: 2;
    flex-shrink: 1;
    width: 100%;
  }

  .date {
    flex-grow: 1;
    flex-shrink: 1;
    width: 52.5%;
  }
}

.add {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 36px;
  width: 100%;
  color: v.$text;
  text-decoration: none;
  margin-bottom: 14px;

  .cover {
    height: 36px;
    width: 36px;
  }
}

.add:hover {
  color: v.$text-bright;
}

.items,
.addsongs {
  gap: 14px;
  padding-top: 16px;

  .song {
    height: 36px;
    display: flex;
    widows: 100%;

    .cover,
    .cover .img {
      height: 36px;
      width: 36px;
    }

    .cover {
      position: relative;
    }

    .cover svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .titles {
      flex-grow: 2;
      flex-shrink: 1;
      width: 100%;
    }

    .date {
      flex-grow: 1;
      flex-shrink: 1;
      width: 50%;
    }

    .artist,
    .date,
    .length {
      color: v.$text;
    }
  }

  .song:hover .cover .img {
    filter: brightness(0.6);
  }

  .playing .playing-indicator {
    display: flex;
  }

  .playing-indicator {
    display: none;
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    flex-direction: row;
    gap: 2px;

    .bar {
      width: 4px;
      height: 22px;
      background-color: white;
      transition: height 0.1s;
      align-self: flex-end;
    }
  }
}

.addsongs {
  width: 100%;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid v.$element;

  .songs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;

    .song {
      height: 36px;
      display: flex;
      widows: 100%;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      width: 100%;

      .cover {
        height: 32px;
        width: 32px;
      }

      .titles {
        flex-grow: 2;
        flex-shrink: 1;
        width: 100%;
        display: flex;
        gap: 12px;
      }

      .artist,
      .date,
      .length {
        color: v.$text;
      }
    }
  }
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  color: v.$text;
}

.close:hover {
  color: v.$text-bright;
}