@use '~/assets/styles/variables' as v;

.element {
  padding: 24px !important;
  padding-bottom: 0px !important; 
}

.search {
  display: flex;
  flex-direction: column;
  gap: v.$spacing;
  overflow: auto;
  width: 100%;
  height: 100%;

  input {
    width: 200px;
    position: fixed;
  }
}

.cover-image {
  width: 100px; 
  height: auto;
}

.first-result .cover-image {
  width: 200px;
}

.first-result {
  font-size: 1.2em; 
}

ul {
  padding-top: 37px;
}

li {
  list-style-type: none; 
  margin-bottom: 10px;
  cursor: pointer;
}