@use '~/assets/styles/variables' as v;

.element {
  padding: 24px !important;
  padding-bottom: 0px !important;
}

.search-container {
  position: absolute;
  width: 268px;
  height: 32px;
  background-color: v.$element;
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-inline: 6px;
  gap: 6px;
  margin-bottom: 16px;

  .input {
    background-color: transparent;
    border: none;
    font-size: 14px;
    outline: none;
    color: #8b8b8b;
    width: 100%;
    height: 32px;
  }
}

.search {
  display: flex;
  flex-direction: column;
  gap: v.$spacing;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.results {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .inline {
    display: flex;
    gap: 32px;
  }
}

.top-result {
  p {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .content {
    padding: 16px;
    background-color: v.$element;
    width: min-content;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 14px;
    width: 332px;
    height: 216px;

    .cover {
      width: 134px;
    }

    .artist {
      color: v.$text;
    }
  }
}

.songs {
  display: flex;
  flex-direction: column;
  width: 100%;

  .songs-title {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .song {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;

      .inline-songs {
        display: flex;
        align-self: left;
      }

      .cover,
      .cover img {
        width: 32px;
        height: 32px;
      }

      .cover {
        position: relative;
      }

      .cover svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      .titles {
        align-items: center;
        display: flex;
        gap: 14px;
        margin-left: 8px;

      }

      .artist,
      .lenght {
        color: v.$text;
      }
    }

    .song:hover .cover .img {
      filter: brightness(0.6);
    }

    .playing .playing-indicator {
      display: flex;
    }

    .playing-indicator {
      display: none;
      width: 22px;
      height: 22px;
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      flex-direction: row;
      gap: 2px;

      .bar {
        width: 4px;
        height: 22px;
        background-color: white;
        transition: height 0.1s;
        align-self: flex-end;
      }
    }
  }
}