@use "~/assets/styles/variables" as v;

.element {
  padding: 0 !important;
}

.songs {
  padding: 24px;
  padding-right: 0;
  padding-bottom: 0;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.songs-info {
  color: v.$text;
  margin-right: 24px;
  padding-left: 15px;
  border-bottom: 1px solid v.$element;
  display: flex;
  padding-bottom: 8px;

  .cover {
    padding-right: 20px;
  }

  .title {
    flex-grow: 2;
    flex-shrink: 1;
    width: 100%;
  }

  .date {
    flex-grow: 1;
    flex-shrink: 1;
    width: 52.5%;
  }
}

.items {
  gap: 14px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 14px;

  .song {
    height: 36px;
    display: flex;
    widows: 100%;

    .cover {
      height: 36px;
      width: 36px;
    }

    .titles {
      flex-grow: 2;
      flex-shrink: 1;
      width: 100%;
    }

    .date {
      flex-grow: 1;
      flex-shrink: 1;
      width: 50%;
    }

    .artist,
    .date,
    .lenght {
      color: v.$text;
    }
  }
}


.add {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 36px;
  width: 100%;
  color: v.$text;
  text-decoration: none;

  .cover {
    height: 36px;
    width: 36px;
  }
}

.add:hover {
  color: v.$text-bright;
}