@use "~/assets/styles/variables" as v;

.element {
  border: 1px solid v.$foreground;
  position: relative;
  padding: v.$spacing;

  .element-title {
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 4px;
    background-color: v.$background;
    padding-inline: 3px;
    color: v.$text-muted;
    user-select: none;
  }

  &:hover {
    border-color: v.$accent;
  }

  &:hover .element-title {
    color: v.$accent;
  }
}

.default-layout {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  padding: v.$spacing;
  padding-top: v.$titlebar-height + 5px;
  gap: v.$spacing;

  .content {
    display: flex;
    gap: v.$spacing;
    flex: auto;
    height: calc(100vh - (v.$playersize + (v.$spacing * 2) + v.$titlebar-height + 5px));

    .sidebar {
      display: flex;
      flex-direction: column;
      gap: v.$spacing;
      height: 100%;
      width: v.$sidebar-width;
    }

    .main {
      width: 100%;
      height: 100%;

      > div {
        height: 100%;
        overflow: auto;
      }
    }
  }
}
