@use "~/assets/styles/variables" as v;

.element {
  border: 1px solid v.$foreground;
  position: relative;
  padding: v.$spacing;
  transition: border v.$transition-time;

  .element-title {
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 4px;
    background-color: v.$background;
    padding-inline: 3px;
    color: v.$text-muted;
    user-select: none;
    transition: color v.$transition-time;
  }

  &:hover {
    border-color: v.$accent;
  }

  &:hover .element-title {
    color: v.$accent;
  }
}

.default-layout {
  width: 100%;
  height: 100%;
  overflow: hidden;

  padding: v.$spacing;
  padding-top: v.$titlebar-height + 5px;
  position: relative;

  .pages {
    position: fixed;
    top: v.$titlebar-height + 5px;
    left: v.$spacing;
    width: 300px;
    height: 148px;
  }

  .library {
    position: fixed;
    top: v.$titlebar-height + 5px + 148px + v.$spacing;
    left: v.$spacing;
    width: 300px;
    height: calc(100vh - (v.$titlebar-height + 5px + (v.$spacing * 3) + v.$playersize + 148px));
  }

  .main {
    position: fixed;
    top: v.$titlebar-height + 5px;
    left: 300px + (v.$spacing * 2);
    width: calc(100vw - (v.$spacing * 3 + 300px));
    height: calc(100vh - (v.$titlebar-height + 5px + (v.$spacing * 2) + v.$playersize));
  }

  .player {
    position: fixed;
    bottom: v.$spacing;
    left: v.$spacing;
    width: calc(100vw - (v.$spacing * 2));
    height: v.$playersize;
  }
}
